html {
    background-color: gray;
}

.ui-datepicker {
    background: #ede7e6;
    border: 1px solid #555;
    color: #000000;
}

.carousel-item{
    height: 40rem;
    background: #777;
    color:#eca089;
    position: relative; 
    background-position: center;
    background-size: cover;
}
.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

.container{
    position: absolute;
    bottom: 0;
    left: 5;
    right: 0;
    padding-bottom: 50px;
}

.btn{
    background :#eca089;
}

.rowjustify-content-center{
    margin-right: 10%;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.navbar-brand{
    width: 100px; 
    height: 50px;
}

.inner2{
    overflow: hidden;
}

.inner2 img{
    transition: all 1.5s ease;
}

.inner2:hover img{
    transform: scale(1.5);
}

#gifs-rows img {
    cursor: pointer;
}
  #gifs-rows .gif-file {
    display:none;
  }

  .card-block{
  float: none;
  display: inline-block;
}
