html {
    overflow-x: hidden;
}

body {
    background-color: #555;
}

label{
    color: black;
    font-family: "Poppins", sans-serif;
}

.gif-file {
    display: none;
}

.nav-item-size {
    height: 50px;
}

.ui-datepicker {
    background: #ede7e6;
    border: 1px solid #555;
    color: #000000;
}

.carousel-item {
    background: #777;
    color:#eca089;
    position: relative; 
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    bottom: 0;
    left: 5;
    right: 0;
    padding-bottom: 50px;
}

.btn {
    background :#eca089;
}

.rowjustify-content-center {
    margin-right: 10%;
}

.inner {
    overflow: hidden;
    height: 70%;
}

.card {
    height: 90%;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.navbar-brand {
    width: 100px; 
    height: 50px;
}

.toast-info {
    background-image: url("../images/police-1659481-1410003.png");
}

.inner2 img {
    transition: all 1.5s ease;
}

.inner2:hover img {
    transform: scale(1.25);
}

#ticket-link img {
    cursor: pointer;
}

#ticket-link .gif-file {
    display:none;
}

.card-block {
  float: none;
  display: inline-block;
}
.carousel {
    height: 40rem;
}

.carousel-inner
{
  height: 100%;
}

.carousel-item {
  text-align: center;
}
