{% extends "client/base.html" %}
{% block title %} Change credentials {% endblock %}
{% block content %}
{% load static %}

<form class="needs-validation" action="{% url 'client:change' %}" method="POST">
    {% csrf_token %}

    <div class="form-group col-md-4 mb-3">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}

        <script type=text/javascript>toastr["error"]("{{ error }}", "" ); </script> 
        {% endfor %}
        {% endfor %}
        {% endif %}
        
        {% for field in form %} 
        <div>
            {{ field.label_tag }}
            <div class="mb-3">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Next</button>
    </div>
   
</form>

{% endblock %}