{% extends "client/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<h1>{{ message }}</h1>
<form action="{% url 'client:auth' %}" method="POST">
  {% csrf_token %}

  {% if message %}
  <script
    type=text/javascript>toastr["error"]("The email or password you entered is incorrect", "Incorrect data")</script>
  {% endif %}

  <div class="form-group col-md-4 mb-3">
    <label for="email">Enter your email: </label>
    <div class="mb-3">
      <input type="email" id="email" name="email" required>
    </div>

    <label for="password">Enter your password: </label>
    <div>
      <input type="password" id="password" name="password" required>
    </div>
  </div>
  <div class="ml-3">
    <input type="submit" value="Submit">
  </div>
</form>
{% endblock %}