<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
</head>

<body>

  {% if message %}
  <script type=text/javascript>toastr["error"]("The email or password you entered is incorrect", "Incorrect data")</script>
  {% endif %}

  <form action="{% url 'client:login' %}" method="POST">

    <div>
      <label for="email">Enter your email: </label>
      <input type="email" id="email" name="email" required>
    </div>

    <div>
      <label for="password">Enter your password: </label>
      <input type="password" id="password" name="password" required>
    </div>


    <div>
      <input type="submit" value="Submit">
    </div>

  </form>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
</body>

</html>