{% extends "client/base.html" %}
{% block title %} Sign-up {% endblock %}
{% block content %}
{% load static %}
<form action="{% url 'client:signup' %}" method="POST">
  {% csrf_token %}

  <div class="form-group col-md-4 mb-3">
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}

          <script type=text/javascript>toastr["error"]("{{ error }}", "Invalid credential");
          </script>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% for field in form %}
    <div>
      {{ field.label_tag }}
      <div class="mb-3">
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Submit</button>
  </div>
</form>
{% endblock %}